.stackedit__left {
  z-index: 2;
  background-color: #eee;
  display: block;
  transition: all 0.5s ease-in-out;
}

.stackedit__toc ul li ul li {
  margin-bottom: 1em;
}

.menu__toggle {
  --width: 3em;
  --top: 1em;
  cursor: pointer;
  background-color: royalblue;
  color: white;
  border-radius: 50%;
  width: var(--width);
  height: var(--width);
  position: fixed;
  top: var(--top);
  right: var(--top);
  z-index: 3;
  display: grid;
  align-items: center;
  justify-items: center;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}

.app-hidden {
  opacity: 0;
}

@media (min-width: 1060px) {
  .menu__toggle {
    opacity: 0;
  }

  .app-hidden {
    opacity: 1;
  }
}
